.loading_paragraph{
    text-align: center;
    padding: 1.5rem;
    width: 30rem;
    height: 5rem;
    margin-top: 1rem;
    color: #fff;
    background-image: linear-gradient(
        -225deg,
        #ac32e4 0%,
        #7918f2 48%,
        rgb(73, 1, 255,0.6) 100%
      );
}